<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta charset="UTF-8">
    <title>微信推广页</title>
    <link rel="stylesheet" href="css/animations.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <script type="text/javascript" src="js/zepto.min.js"></script>
    <script type="text/javascript" src="js/touch.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
    <div id="btn_muc" class="play">
        <img src="images/units-icons_01.png" alt="音乐图片"/>
    </div>
    <audio src="images/music.mp3" id="music" autoplay="autoplay"></audio>
    <!--第一页-->
    <div class="page page-1-1">
        <div class="wrap">
            <img src="images/page2_1_03.png" class="img2_2 pt-page-moveFromRight pt-page-delay100"/>
            <img src="images/page2_2_03.png"  class="img2_1 pt-page-moveFromLeft"/>
            <img src="images/units-icons_02_03.png" class="img3 pt-page-moveIconUp" alt=""/>
        </div>
    </div>
    <!--第二页-->
    <div class="page page-2-1 hide">
        <div class="wrap">
            <img src="images/han_1_03.png" class="img1 pt-page-moveFromTop pt-page-delay500 hide"/>
            <img src="images/WZ_1_02.png"  class="img2 pt-page-moveFromLeft hide"/>
            <img src="images/units-icons_02_03.png" class="img3 pt-page-moveIconUp hide"/>
        </div>
    </div>
    <!--第三页-->
    <div class="page page-3-1 hide">
        <div class="wrap">
            <img src="images/fiona5.jpg" class="img3_1 pt-page-moveFromLeft hide"/>
            <img src="images/fiona6.jpg"  class="img3_2 pt-page-moveFromTop pt-page-delay400 hide"/>
            <img src="images/fiona2.jpg"  class="img3_3 pt-page-moveFromRight hide"/>
            <img src="images/rain3_mj3_15.png"  class="img3_4 pt-page-moveFromLeft hide"/>
            <img src="images/rain3_the_03.png"  class="img3_6 pt-page-moveFromRight hide"/>
            <img src="images/rain3_xt_14.png"  class="img3_5 pt-page-moveFromRight hide"/>
            <img src="images/units-icons_02_03.png" class="img3 pt-page-moveIconUp hide"/>
        </div>
    </div>
    <!--第四页-->
    <div class="page page-4-1 hide">
        <div class="wrap">
            <img src="images/page4_wy_03.png" class="img4_1 pt-page-moveFromTop pt-page-delay400 hide"/>
            <img src="images/page4_hs_03.png"  class="img4_2 pt-page-moveFromLeft hide"/>
            <img src="images/page4_sh1_03.png"  class="img4_3 pt-page-moveFromLeft hide"/>
            <img src="images/page4_wh_03.png"  class="img4_4 pt-page-moveFromRight hide"/>
            <img src="images/page4_sy_03.png"  class="img4_5 pt-page-moveFromLeft hide"/>
            <img src="images/page4_cs_09.png"  class="img4_6 pt-page-moveFromRight hide"/>
        </div>
    </div>
</body>
</html>