@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;color:#666;}
img{vertical-align:top;border:none;}
.fl{float:left;}
.fr{float:right;}
input{ outline-color:#CC0; border:none; background:none;}
.clear:after{content:'';display:block;clear:both;}
body{ font:12px 'Microsoft yahei';color:#8c8c8c;}
.w{width:1024px;margin:0 auto;}
.fen{color:#8f3831;}
.liang{color:#ffb900;}