@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
img{ vertical-align:top; border:none;}
a{ text-decoration:none; color:#a295b7;}
li{ list-style:none;}

/*重用样式*/
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}
body{color:#999;font-family:'黑体';font-size:0.35rem;}
.hon{color:#d51942;}